html {
    font-size: 4px;
/ / * 1 rem = 4 px 方便unocss计算：在unocss中 1 字体单位 = 0.25 rem，相当于 1 等份 = 1 px
}

html,
body, #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*通用背景色*/
    background-color: #f2f2f2;
    font-family: 'Encode Sans Condensed', sans-serif;
}


/* 滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;

    &:hover {
        background-color: #a8a8a8;
    }
}